arch:
  - ppc64le
  - amd64
language: go
sudo: required
dist: xenial
go:
  - 1.13
  - 1.14
  - 1.15
before_install:
- sudo sysctl net.ipv6.conf.lo.disable_ipv6=0
- go get github.com/mattn/goveralls
- go get golang.org/x/lint/golint
script:
- goveralls -v
- golint -set_exit_status $(go list ./...)
